body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.current{
    font-weight: bold;
    color: #e8491d;
}
a{
    text-decoration: none;
}

#navbar{
    background-color: rgb(0, 0, 0);
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #cccccc;
    padding: 0;
    height: 50px;
   
}
#list ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#list ul li{
    padding: 50px;
}
header a{
    color:#cccccc;
    font-size: 18px;
}
header a:hover{
    color: #cccccc;
    font-weight: bold;
}
#logo h1{
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
}


/* Showcase style */
.showcase{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.993);
    color: #cccccc;
    /* background-image: url(pic.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-color: black; */
    /* padding-right: 50px; */
    /* padding: 50px; */
}

#writing a{
    color: #00D363;
    font-size: 18px;
}

#writing h2{
    font-size: 28px;
    font-weight: 500;
}
.typing{
    color: #383d52;
    position: relative;
    font-size: 3vw;
    /* font-weight: 200; */
    -webkit-text-stroke: 0.3vw #383d52;

}
.typing::before{
    content: attr(data-text);
    position:absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #01fe87;
    -webkit-text-stroke: 0vw #7e6943;
    border-right: 2px solid #01fe87;
    overflow: hidden;
    animation: animate 6s linear infinite;

}
@keyframes animate{
    0%,10%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}
#writing p{
    font-size: 18px;
}
#writng{
    
}



#author-pic{
    width: 500px;
    /* height: 00px; */
    margin: 50px 50px;
}
#author-pic img{
    margin: 10px auto;
    width: 100%;
    /* height: 100%; */
    /* border-radius: 200px; */
}
#icons-contact{
    margin: 0 100px;
}
.icons{
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
}
#icons-contact i{
    line-height: 50px;
    color: #cccccc;
    font-size: 25px;
   
}

#writing button{
    background-color: orangered;
    border: none;
    width: 150px;
    height: 45px;
    font-size: 16px;
    border-radius: 10px;
}
.btn1{
    /* padding-left: 400px; */
    margin-top: 10px;
}
.btn1 button{
    color:#cccccc;

}

/* @media (max-width: 1000px){
    #navbar{
        display: flex;
        flex-direction: column;
    }
    #navbar ul{
        display: flex;
        
    }
} */


/* Contact Styling */

#contactt a{
    color: orangered;
    font-size: 18px;
}
#contactt p{
    font-size: 18px; 
}
#contactt h1{
    font-size: 55px;
}
#contactt, .writing{
    background-image: url(pic.jpg);
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    background-color: rgba(0, 0, 0, 999);
    color: white;
}
#form{
   
    width: 650px;
    line-height: 40px;
}


#form input,textarea{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border: 1px ;
    width: 100%;
    color: white;
    background-color: rgb(24, 23, 23);
}
#form input{
    border-radius: 7px;
}
#form textarea{
    width: 100%;
    border-radius: 7px;
    height: 100px;
}
#form button{
    width: 120px;
    background-color: rgb(24, 23, 23);
    color: orangered;
    border: none;
    height: 45px;
    border-radius: 7px;
    font-size: 18px;
}

#formm{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    padding-right: 500px;
    height: 500px;
    width: 600px;
}


/* Writing style */

.writing h1{
    padding-left: 100px;
    padding-top: 80px;
    font-size: 60px;
    color: #cccccc;
    
}
.writing p{
    color: #cccccc;
    padding: 0 100px;
}